h2 {
    text-align: center;
    font-family: sans-serif;
}

h5 {
    text-align: center;
    font-family: sans-serif;
}

#first_name_id {
    padding: 15px;
}

#last_name_id {
    padding: 15px;
}

#mobile_number_or_email_id {
    padding: 15px;
}

#password_id {
    padding: 15px;
}

#date_id {
    padding: 15px;
}
form {
    width: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 4px lightgray;
}

p {
    color: gray;
    font-family: sans-serif;
}
input[type=button] {
    width: 100%;
    background-color: green;
    color: white;
}

#account_type {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}