#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}
header {
    grid-area: header_area;
    text-align: center;
}
main {
    grid-area: main_area;
}

body {
    background-color: #FAFAFA;
}
form {
    background-color: white;
    border: 2px solid #CCCCCC;
    padding: 36px;
}

div label {
    display: block;
    margin-bottom: 8px;
}

select,
input,
textarea {
    padding: 12px;
    border: 2px solid #CCCCCC;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
}

input[type=submit] {
    width: auto;
    background-color: lightskyblue;
    border: 0px;
    color: white;
    min-width: 100px;
}

#search_bar {
    color: lightgray;
}

#name:invalid {
    background-color:red;
}

#name:valid {
    background-color: green;
}

#email:invalid {
    background-color: red;
}

#email:valid {
    background-color: green;
}