body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    background-color: salmon;
    padding: 36px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    color: white
}
































#GreatWhiteShark {
    width: 100px;
    height: 100px;
}