body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    background-color: skyblue;
    padding: 36px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    color: gray
}

img {
    height: 200px;
}