#main {
    background-color: lavender;
    padding: 30px;
}

#content {
    background-color: #6b5acd;
    border: 5px solid darkblue;
    color: white;
    margin: 20px 0px;
    padding: 20px;
}

#content > div {
    margin: 16px 0px;
}

#quote {
    padding-left: 36px;
}

#quote_citation {
    padding-left: 26px;
}