body {
    margin: 0px;
}
nav {
    background-color: goldenrod;
    padding: 0.5px;
}
ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}
ul li {
    /* margin: 12px; */
    padding: 12px; /* very important */
}
li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
#Naumann Saloon {
    margin-right: auto;
}

.menu_dropdown {
    background-color: orange;
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity: 0.5s,
        visibility: 0.5s,
        top 0.5s;
}

.MenuDropdownhover {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#wild_west_saloon {
    width: 25px;
}