/* Task 14 - Write your code solution below */
#t14_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Task 15 - Write your code solution below */
#t15_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

/* Task 16 - Write your code solution below */


/* Task 17 - Write your code solution below */


/* Task 18 - Write your code solution below */


/* Task 19 - Write your code solution below */


/* Task 20 - Write your code solution below */
