/* Task 14 - Write your code solution below */
#t14_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Task 15 - Write your code solution below */
#t15_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

/* Task 16 - Write your code solution below */


/* Task 17 - Write your code solution below */
#t17_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "one two three";
}

#t17_cell_1 {
    grid-area: three;
}

/* Task 18 - Write your code solution below */


/* Task 19 - Write your code solution below */
#t19_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#t19_container img {
    width: 100%;
    box-sizing: border-box;
}

/* Task 20 - Write your code solution below */
#t20_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "one two"
        "three three";
}

#t20_cell_1 {
    grid-area: one;
}
#t20_cell_2 {
    grid-area: two;
}
#t20_cell_3 {
    grid-area: three;
}