/* Task 4 - Write your code solution below */
#t4_container {
    padding-left: 100px
}

/* Task 5 - Write your code solution below */
#t5_container {
    padding-right: 100px;
}

/* Task 6 - Write your code solution below */
#t6_container {
    padding-top: 100px;
}

/* Task 7 - Write your code solution below */
#t7_container {
    padding-top: 100px;
    padding-left: 100px
}