/* Task 1 - Write your code solution below */
 .t1_div {
    display: inline-block;
    flex-direction: row;
 }

/* Task 2 - Write your code solution below */
.t2_span {
    display: flex;
}

/* Task 3 - Write your code solution below */
.t3_span_red {
    display: flex;
}

.t3_span_blue {
    display: inline-block;
}