h1 {
    color: blue;
    transition: 
        color 1s,
        font-size 1s;
}
h1:hover {
    color: red;
    font-size: 60px;
}
#box {
    height: 200px;
    width: 200px;
    background-color: red;
    transition:
        background-color 1s,
        border-radius 1s,
        transform 1s;
}
#box:hover {
    background-color: blue;
    border-radius: 50%;
    transform: rotate(360deg);
}

img {
    width: 200px;
    display: block;
    margin: 0px auto;
    transition:
        transform 1s,
        border-radius 1s;
}
img:hover {
    border-radius: 50%;
    transform: scale(1) rotate(360deg);
}